// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
$SIDEMENU_TOP: #424242;
$SIDEMENU_BOTTOM: #2E2E2E;
$SIDEMENU_TRANSPARENCY: rgba(255,255,255,0.4);

.toolbar-background, .tabbar a, .tabbar{
  background-color: $SIDEMENU_TOP!important;
}
.toolbar-title, .bar-buttons{
  color: #ffffff!important;
}

.tabbar{
  height: 70px;
}
.tab-button-icon, .tab-button-text{
  color:#C0C0C0!important;
}

.tabs-md .tab-button[aria-selected=true]{
   .tab-button-icon{
     color:#ffffff!important;
   }
   .tab-button-text{
     color:#ffffff!important;
     font-weight: bold;
   }
}

.content{

    background: url("../assets/img/bg.jpg") no-repeat center center!important;
    -webkit-background-size: cover!important;
    -moz-background-size: cover!important;
    -o-background-size: cover!important;
    background-size: cover!important;
    background-position-x: center!important;
    background-position-y: center!important;
    #logo{
      padding: 10px;
    }
}

#menu .scroll-content{
  background: -webkit-linear-gradient(left, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
  background: -o-linear-gradient( right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
  background: -moz-linear-gradient( right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
  background: linear-gradient(to  right, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
    .item{
    background-color:transparent;
    color:#ffffff;
    font-weight:300;
    border:0px!important;
      .item-inner{
      background:none;
      border: 0!important;
        &.activated{
        background: $SIDEMENU_TRANSPARENCY;
        }
      }
      &.active-page-highlight{
        .item-content{
        background: $SIDEMENU_TRANSPARENCY;
        }
      }
    }
}

.divLogo{
  text-align: center;
}
#menu .logo{
    text-align: center;
    img{
        padding:10px;
        width: 190px!important;
        -webkit-box-shadow: 0px 0px 142px -37px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 142px -37px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 142px -37px rgba(0,0,0,0.75);
    }
}

#menu .sair{
  position: absolute;
  bottom: 0;
  border: 0;
  .item-inner{
    border: 0!important;
    background: none!important;
  }
}
